@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "futura_heavy";
  src: url("../assets/futura/Futura Heavy font.ttf");
  font-weight: 600;
  font-style: normal;
}

:root {
  @apply font-futura_heavy bg-yellow-100;
}

.square {
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
